body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}
.container-fluid {
  margin-top: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.boldfont {
  font-weight: bold;
  font-size: 20px;
}
.imgdimension {
  height: 150px;
  max-height: 150px;
  width: 100%;
}
.title-style {
  padding-bottom: 30px;
}
.padding-top {
  padding-top: 45px;
}

.padding-bottom {
  padding-bottom: 15px;
}
.jumbotron {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.small-font {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0px;
  font-weight: 400;
  color: #1c1e22;
  margin: 0px 0px 15px 0px;
  font-family: "Noto Sans", sans-serif;
}
h1 {
  font-size: 42px;
  line-height: 50px;
}
h2 {
  font-size: 36px;
  line-height: 42px;
}
h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
h4 {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
h6 {
  font-size: 12px;
  line-height: 18px;
}
button {
  margin-right: -5px;
}
div > select {
  width: 75px !important;
}
.show-on-large {
  display: none;
}
.show-on-small {
  display: block;
}

button {
  background:none!important;
  color:red;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444; 
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .adjust-text-left {
    text-align: left;
    font-weight: normal !important;
    font-size: 25px;
  }
  .adjust-text-right {
    text-align: right;
    font-size: 25px;
  }
  .jumbotron {
    margin-top: -135px;
    /* float: right; */
    max-width: 400px;
    height: 300px;

  }
  .imgdimension {
    height: 250px;
    max-height: 250px;
  }
  .show-on-large {
    display: block;
  }
  .show-on-small {
    display: none;
  }
  .text-align-left {
    text-align: left !important;
  }
  .negtive-margin{
    margin-top: -25px;
  }

  .my-sidebar {
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
}
}
